<div class="section background" id="portfolio">
  <div class="line-top"></div>
  <div class="container portfolio">
    <div class="title title__size">Portfolio</div>
    <img class="separator" src="../../../assets/images/separator.png" alt="separator">
    <div class="text">Simplicity is the ultimate sophistication</div>
    <div class="portfolio__filters">
      <span class="portfolio__by">Filter by:</span>
      <div class="portfolio__list">
        <div class="portfolio__item">
          <img src="../../../assets/backGrounds/Tag.png" class="portfolio__arrow">
          <div class="portfolio__li"><img class="portfolio__circle" src="../../../assets/images/circle.png">angular
          </div>
        </div>
        <div class="portfolio__item">
          <img src="../../../assets/backGrounds/Tag.png" class="portfolio__arrow">
          <div class="portfolio__li"><img class="portfolio__circle" src="../../../assets/images/circle.png">JS</div>
        </div>
        <div class="portfolio__item">
          <img src="../../../assets/backGrounds/Tag.png" class="portfolio__arrow">
          <div class="portfolio__li"><img class="portfolio__circle" src="../../../assets/images/circle.png">SCSS</div>
        </div>
      </div>
    </div>
    <div class="portfolio__main main">
      <div class="main__item">
        <div class="main__img"></div>
        <div class="main__icon">
          <a href='' class="link"><img class="main__png" src="../../../assets/images/github.svg"></a>
        </div>
        <div class="main__title">LOCAL WEATHER</div>
      </div>
    </div>
    <!-- <img class="main__separator" src="../../../assets/images/smallLine.png" alt="line"> -->
    <!-- <div class="main__browse">Browse all</div> -->
  </div>
  <div class="line-bottom"></div>
  <img class="solid-line" src="../../../assets/images/solidLine.png" alt="line">
</div>