<div class="section background" id="about">
  <div class="line-top"></div>
  <div class="container about">
    <div class="title title__size">About me</div>
    <img class="separator" src="../../../assets/images/separator.png" alt="separator">
    <div class="text">I am web developer located in Poland</div>
    <div class="about__main">
      <div class="about__item item about__item_middle-right about__item_middle-bottom">
        <div class=" item__circle">
          <img class="item__img" src="../../../assets/images/iconfinder_300_idea_business_brain_mind_bulb_3957624.svg"
            alt="png">
        </div>
        <div class="item__title">Education</div>
        <div class="item__under-title">Where I studied</div>
        <img class="item__small-line" src="../../../assets/images/smallLine.png" alt="line">
        <div class="item__text">
          <div class="item__text-item"><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star">
            Master's degree - System analysis - NTUU KPI Ukraine - 2018</div>
          <div class="item__text-item"><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star">
            Bachelors degree - System analysis - NTUU KPI Ukraine - 2016</div>
          <div class="item__text-item"><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star">
            Course: Front end from ground up - Web Academy Ukraine - 2019</div>
        </div>
      </div>
      <div class="about__item item about__item_middle-bottom">
        <div class="item__circle">
          <img class="item__img" src="../../../assets/images/iconfinder_1_Backpack_bag_travel_office_4308014.svg"
            alt="png">
        </div>
        <div class="item__title">Experience</div>
        <div class="item__under-title">Where I worked</div>
        <img class="item__small-line" src="../../../assets/images/smallLine.png" alt="line">
        <div class="item__text">
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Front-end developer -
            AWWcor Inc. - Jun 2019 - <span class="red">now</span></div>
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Python programmer -
            Ukrainian Hydrometeorological Center - Feb 2018 - Oct 2018</div>
        </div>
      </div>
      <div class="about__item item about__item_middle-right">
        <div class="item__circle">
          <img class="item__img" src="../../../assets/images/iconfinder_35_experiment_gear_setting_lab_4307861.svg"
            alt="png">
        </div>
        <div class="item__title">Skills</div>
        <div class="item__under-title">What I can</div>
        <img class="item__small-line" src="../../../assets/images/smallLine.png" alt="line">
        <div class="item__text item__skills">
          <div class="item__text_part-sm">
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Angular 9</div>
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Typescript</div>
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> HTML5</div>
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> SCSS</div>
          </div>
          <div class="item__text_part-b">
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Material UI</div>
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Git</div>
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Webpack</div>
            <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> English - Intermediate
            </div>
          </div>
        </div>
      </div>
      <div class="about__item item">
        <div class="item__circle">
          <img class="item__img"
            src="../../../assets/images/iconfinder_471_Design_human_ruler_size_thinking_Advertising_Promo_Creative_Process_4158637.svg"
            alt="png">
        </div>
        <div class="item__title">Personal</div>
        <div class="item__under-title">What I Am</div>
        <img class="item__small-line" src="../../../assets/images/smallLine.png" alt="line">
        <div class="item__text">
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Hardwoking</div>
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Responsible</div>
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Attention to details</div>
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Team player</div>
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Punctual</div>
          <div><img src="../../../assets/images/star-24px.svg" class="item__star" alt="star"> Creative</div>
        </div>
      </div>
    </div>
  </div>
  <div class="line-bottom"></div>
  <img class="solid-line" src="../../../assets/images/solidLine.png" alt="line">
</div>