<div class="section background" id="home">
  <div class="line-top"></div>
  <div class="container home">
    <div class="home__name">Anastasiia Olashyn</div>
    <div class="home__prof">Front-end developer</div>
    <div class="home__main">
      <div class="home__part home__photo">
        <div class="home__photo-in"></div>
        <a class="home__link" href="https://github.com/AnaOlashyn">#AnaOlashyn</a>
      </div>
      <div class="home__part">
        <div class="home__text">HELLO WORLD!</div>
        <div class="home__text home__text_main">Thank you for visiting my website which is a proof of me as a
          pixel-perfect developer with a passion for <span class="home__tech">Angular</span>, <span
            class="home__tech">SCSS</span>, <span class="home__tech">HTML</span> and <span
            class="home__tech">Typescript</span>.</div>
      </div>
    </div>
  </div>
  <div class="line-bottom"></div>
  <img class="solid-line" src="../../../assets/images/solidLine.png" alt="line">
</div>