@import '../../../styles.css';


.background {
  background-image: url(../../../assets/backGrounds/headerPNG.png);
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: Bazar;
  width: 100%;

  @media (max-width:775px) {
    padding: 15px 0;
  }

  &__item {
    color: rgb(249, 235, 217);
    font-size: 28px;
    text-transform: uppercase;
    text-shadow: -1px -1px 1px rgba(255, 255, 255, .1), 1px 1px 1px rgba(0, 0, 0, .5);
    width: 20%;
    text-align: center;
    -webkit-tap-highlight-color: transparent;

    @media (max-width:693px) {
      font-size: 25px;
    }

    @media (max-width:620px) {
      font-size: 23px;
    }

    @media (max-width:580px) {
      font-size: 22px;
    }

    @media (max-width:370px) {
      font-size: 20px;
      width: auto;
    }
  }

  &__bage {
    background: url(../../../assets/images/bagePng.png) center no-repeat;
    background-size: contain;
    font-family: SeasideResortNF;
    font-size: 32px;
    transform: scale(1.5) translateY(15%);
    width: 85px;
    height: 85px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width:775px) {
      display: none;
    }
  }
}

.full {
  @media (max-width:451px) {
    display: none;
  }
}

.mobile {

  @media (min-width:450px) {
    display: none !important;
  }

  @media (max-width:451px) {
    padding: 0;
  }
}

.m-menu {
  position: fixed;
  right: 0;
  background: url(../../../assets/images/bagePng.png) center no-repeat;
  background-size: contain;
  width: 65px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 10000;

  &__arrow {
    height: 36px;
  }
}

.menu {
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  justify-content: space-around;

  &__close {
    position: fixed;
    right: 12px;
    top: 12px;
    font-size: 42px;
    cursor: pointer;
    font-family: Bazar;
    letter-spacing: 1px;
  }

  &__item {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    &_home {
      background-image: url(../../../assets/backGrounds/sliderSectionBG.png);
    }

    &_about {
      background-image: url(../../../assets/backGrounds/aboutSectionBG.png);
    }

    &_portfolio {
      background-image: url(../../../assets/backGrounds/portfolioSectionBG.png);
    }

    &_contact {
      background-image: url(../../../assets/backGrounds/contactSectionBG.png);
    }
  }

  &__title {
    font-size: 42px;
    cursor: pointer;
    font-family: Bazar;
    color: rgb(57, 58, 58);
    text-transform: uppercase;
    letter-spacing: 1px;
    -webkit-tap-highlight-color: transparent;

    &_light {
      color: #f6edd8;
    }
  }
}

.relative {
  position: relative;
  z-index: 50000;
}
